a {
  text-decoration: none;
}
.fw-bolder {
  font-weight: 600 !important;
}
.sr-only {
  overflow: hidden;
}
.avatar-initials {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
